header {
    background-color: rgb(59, 59, 59);
}

body {
    background-color: rgb(197, 197, 197);
}

footer {
    background-color: rgb(155, 155, 155);
}

h2, p {
    color: rgb(155, 155, 155);
    font-family: sans-serif;
    font-weight: lighter;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px auto;
    display: block;
}

header ul {
    position: absolute;
    right: 10px;
}

nav {
    background-color: rgba(0, 0, 0, 0.379);
    height: 155px;
    display: flex;
    margin-top: 23px;
}