header {
    background-color: rgb(59, 59, 59);
}

body {
    background-color: rgb(197, 197, 197);
}

footer {
    background-color: rgb(117, 117, 117);
}

h2 {
    color: rgb(155, 155, 155);
}

p {
    color: rgb(155, 155, 155);
}