.book {
    background-color: rgb(155, 155, 155);
    margin: 40px 20px;
}

.book-info {
    background-color: rgb(74, 74, 74);
    height: 100px;
}

.book img {
    display: block;
    margin: 0px auto;
    padding-top: 10px; 
}

.book-info h2, p {
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 25px;
}