.book {
    background-color: rgb(155, 155, 155);
    margin: 40px 20px;
}

.book-info {
    background-color: rgb(74, 74, 74);
}

.book img {
    display: block;
    margin: 0px auto;
    padding-top: 10px; 
}